<section class="gradient-form h-screen w-screen bg-white dark:bg-neutral-700">
  <div class="container h-full p-10">
    <div
      class="flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200"
    >
      <div class="w-full">
        <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-800">
          <div
            class="flex min-h-full flex-col justify-center px-1 py-20 lg:px-8"
            style="
              background-image: url('https://images.unsplash.com/photo-1496917756835-20cb06e75b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1908&q=80');
              background-size: cover;
            "
          >
            <div
              class="sm:mx-auto sm:w-full sm:max-w-sm bg-white bg-opacity-90 rounded-lg p-6 shadow-lg"
            >
              <h1
                class="mt-1 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
              >
                Sign Up
              </h1>
            </div>
            <div
              class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm bg-white bg-opacity-90 rounded-lg p-6 shadow-lg"
            >
              <form class="space-y-6" [formGroup]="signupForm" (ngSubmit)="signup()">
                <div>
                  <label
                    for="first_name"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Full Name</label
                  >
                  <div class="mt-2">
                    <input
                      id="first_name"
                      name="first_name"
                      formControlName="fullName"
                      type="text"
                      autocomplete="given-name"
                      required
                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    />
                  </div>
                </div>

                <div class="mt-4">
                  <label
                    for="last_name"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >UserName</label
                  >
                  <div class="mt-2">
                    <input
                      id="last_name"
                      name="last_name"
                      formControlName="userName"
                      type="text"
                      autocomplete="family-name"
                      required
                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    />
                  </div>
                </div>

                <div class="mt-4">
                  <label
                    for="email"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Email</label
                  >
                  <div class="mt-2">
                    <input
                      id="email"
                      name="email"
                      type="text"
                      formControlName="email"
                      autocomplete="email"
                      required
                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    />
                  </div>
                </div>
                <div class="mt-4">
                  <label
                    for="password"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Password</label
                  >
                  <div class="mt-2">
                    <input
                      id="password"
                      name="password"
                      formControlName="password"
                      type="password"
                      autocomplete="new-password"
                      required
                      class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    />
                  </div>
                </div>

                <div class="mt-6">
                  <button
                    type="submit"
                    class="block w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                  >
                    Sign Up
                  </button>
                </div>
              </form>

              <p class="mt-10 text-center text-sm text-gray-500">
                <a
                  href="/login"
                  class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
                  >Back to login</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
